
/*--- menu----*/
    .navbar-brand {
        color: #3333FF !important;
        font-size: 2em;
}
    .navbar-nav li a:focus {
        color: chocolate !important;
} 
    .navbar-nav li :hover {
        background-color: #19197f !important;
        transition: 1s;
}
    .navbar-nav li a {
        border-radius: 5px;
} 
/*--- ourbusiness ----*/
h2 {
    margin: 50px 0px;
}
section a {
    color: black;
}

/*--- Footer ----*/
    #footer {
        background-color: #282828;
        color: aliceblue;
        padding: 50px 20px 20px;
}
    #footer-box2 li a, #footer-box3 li a {
        text-decoration: none;
        color: aliceblue;    
}
    #footer-box2 li , #footer-box3 li {
        list-style-type: none;
}
    #footer-box2 ul, #footer-box3 ul {
        padding-left: 0px;
}
    #copyright {
        text-align: center;
        font-size: 1.2em;
}
    hr {
        border: 1px solid aliceblue;
        margin: 30px 0px;
}
    .femail {
        margin-top: 15px;
        width: 100% !important;
        background-color: #282828;
        border:none;
        border-bottom: 2px solid #C0C0C0;
        position: relative;
}
    #footer-box4 form {
        position: relative;
}
    #footer-box4 form .fsubmit {
        position: absolute;
        right: 0px;
        bottom: 5px;
}


/*-------------------------------Media: Ipad------------------*/

@media screen and (min-width: 576px) and (max-width: 992px) {

        .navbar {
            background-color: #3333FF;
    }
        .brand {
            width:30%;
            text-align: center;
    }
        .navbar-brand {
            color: aliceblue !important;
    }
        .navbar-nav li a {
            color: aliceblue !important;
    }
        .navbar i {
            color: aliceblue !important;   
    }
        .temail {
            margin-top: 10px;
            width: 80% !important;
    }
        
}

/*-------------------------------Media:Laptop------------------*/
@media screen and (min-width: 992px) {
        .navbar {
            background-color: #3333FF;
    }  
        .textsearch {
            width:10%;
            padding: 10px;
    }
        .brand {
            width:40%;
            text-align: center;
    }
        .navbar-brand {
            color: aliceblue !important;
    }
        .navbar-nav li a {
            color: aliceblue !important;
    }
        .navbar i {
            color: aliceblue !important;   
    }
        #footer {
            padding: 50px 200px 10px;
            font-size: 0.8em;
    }
        #footer h3 {
            font-size: 1.5em;
    }
    
        .ourbusiness{
            padding: 20px 180px
    }
    .Business {padding: 20px 180px
        
    }
}












